<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>Home - Plant Disease Recognition</title>
</head>
<body>
    <h1>Plant Disease Recognition System</h1>
    <p>Welcome to the Plant Disease Recognition System! 🌿🔍</p>
    <img src="/static/home_page.jpeg" alt="Home Page Image" style="width:100%;">
    <p>Our mission is to help identify plant diseases efficiently.</p>
    <a href="/disease_recognition">Go to Disease Recognition</a> |
    <a href="/about">About</a>
</body>
</html>
